.astronomy {
    background-image: url("StarrySky.jpg");
    background-size: cover;
}

.potions {
    background-image: url("CauldrenGreenSmoke.jpg");
    background-size:cover;
    background-position:center;
}

h1 {
    font-family:'Lucida Handwriting';
    color:white;
    text-decoration: bold;
}

.instructions{
    color:white;
    background-color: black;
    opacity: .7;
    margin: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

footer p{
    color: white;
}

.astronomy .card {
    max-width: 200px;
    min-width: 150px;
}