.bodyastronomy {
    background-image:  url("/StarrySky.jpg");
    background-size: cover;
}

h1 {
    font-family:'Lucida Handwriting';
    color:white;
    text-decoration: bold;
}

.instructions{
    color:white;
    background-color: black;
    opacity: .7;
    margin: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

footer p{
    color: white;
}

.card_in_astronomy_game {
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 10px;
}

.black-font {
    color:black;
}

.max_wdith_800 {
    max-width: 800px;
}

.card-title {
    text-align: center;
}

.mylinkastronomy {
    color: white;
}